@{
    ViewData["Title"] = "Location Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model WorldTravelBlog.Models.Location

<h1>@Html.DisplayFor(model => model.Name) Details</h1>
<hr />

<h2>Country: @Html.DisplayFor(model => model.Country)</h2>
<h4>Description: @Html.DisplayFor(model => model.Description)</h4>

<p>@Html.ActionLink("View experiences for this location", "Location", "Experiences", new { id = Model.LocationId }, null)</p>

<p>@Html.ActionLink("Back to locations list", "Index")</p>