@{
    ViewData["Title"] = "World Travel Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model WorldTravelBlog.Models.Experience

<h1>@Html.DisplayFor(model => model.Title) Details</h1>
<hr />

<h2>Date: @Html.DisplayFor(model => model.Date)</h2>
<h4>Description: @Html.DisplayFor(model => model.Description)</h4>

<h4>Location: @Html.DisplayFor(model => model.Location.Name) in @Html.DisplayFor(model => model.Location.Country)</h4>

<h3>People I met: </h3>
@foreach(var experiencePerson in ViewBag.People)
{
    <p>@experiencePerson.Person.Name</p>
}

<p>@Html.ActionLink("Back to experience list", "Index")</p>